body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: #455A64;
  width: 70vw;
  margin: auto;
}
body header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
body header img {
  margin-top: 10px;
  width: 80%;
}
body .container form {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 55vw;
  justify-content: space-between;
  margin-bottom: 20px;
}
body .container form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .container form div label {
  font-size: 1.3rem;
}
body .container form div input {
  border: 2px solid #455A64;
  border-radius: 20px;
  background-color: #25D5B8;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
body .container div {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  width: 55vw;
}
body .container div div {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
body .container div .card {
  border: 3px #25D5B8 solid;
  width: 15vw;
  height: 11vh;
  border-radius: 35px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
body .container div .card p {
  margin: 10px 0 0 0;
}
body .container div .card h3 {
  margin: 0 0 15px 0;
}
